<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>S1</th>
      <th>S2</th>
      <th>S3</th>
      <th>S4a</th>
      <th>S4b</th>
      <th>S4c</th>
      <th>S5a</th>
      <th>S5b</th>
      <th>S5c</th>
      <th>S6a</th>
      <th>S6b</th>
      <th>S6c</th>
      <th>S7a</th>
      <th>S7b</th>
      <th>S7c</th>
      <th>S8a</th>
      <th>S8b</th>
      <th>S8c</th>
      <th>S9</th>
      <th>S10</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.uid %></td>
        <td><%= user.s1 %></td>
        <td><%= user.s2 %></td>
        <td><%= user.s3 %></td>
        <td><%= user.s4a %></td>
        <td><%= user.s4b %></td>
        <td><%= user.s4c %></td>
        <td><%= user.s5a %></td>
        <td><%= user.s5b %></td>
        <td><%= user.s5c %></td>
        <td><%= user.s6a %></td>
        <td><%= user.s6b %></td>
        <td><%= user.s6c %></td>
        <td><%= user.s7a %></td>
        <td><%= user.s7b %></td>
        <td><%= user.s7c %></td>
        <td><%= user.s8a %></td>
        <td><%= user.s8b %></td>
        <td><%= user.s8c %></td>
        <td><%= user.s9 %></td>
        <td><%= user.s10 %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
