<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @user.uid %>
</p>

<p>
  <strong>S1:</strong>
  <%= @user.s1 %>
</p>

<p>
  <strong>S2:</strong>
  <%= @user.s2 %>
</p>

<p>
  <strong>S3:</strong>
  <%= @user.s3 %>
</p>

<p>
  <strong>S4a:</strong>
  <%= @user.s4a %>
</p>

<p>
  <strong>S4b:</strong>
  <%= @user.s4b %>
</p>

<p>
  <strong>S4c:</strong>
  <%= @user.s4c %>
</p>

<p>
  <strong>S5a:</strong>
  <%= @user.s5a %>
</p>

<p>
  <strong>S5b:</strong>
  <%= @user.s5b %>
</p>

<p>
  <strong>S5c:</strong>
  <%= @user.s5c %>
</p>

<p>
  <strong>S6a:</strong>
  <%= @user.s6a %>
</p>

<p>
  <strong>S6b:</strong>
  <%= @user.s6b %>
</p>

<p>
  <strong>S6c:</strong>
  <%= @user.s6c %>
</p>

<p>
  <strong>S7a:</strong>
  <%= @user.s7a %>
</p>

<p>
  <strong>S7b:</strong>
  <%= @user.s7b %>
</p>

<p>
  <strong>S7c:</strong>
  <%= @user.s7c %>
</p>

<p>
  <strong>S8a:</strong>
  <%= @user.s8a %>
</p>

<p>
  <strong>S8b:</strong>
  <%= @user.s8b %>
</p>

<p>
  <strong>S8c:</strong>
  <%= @user.s8c %>
</p>

<p>
  <strong>S9:</strong>
  <%= @user.s9 %>
</p>

<p>
  <strong>S10:</strong>
  <%= @user.s10 %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
