<% provide(:title, "Home") %>

<div id="full_name"><%= get_name() %></div>
<div id="contact">
	<ul id="contact_info">
		<li><%= get_university() %></li>
		<li><%= get_email() %></li>
		<li><%= get_phone() %></li>
	</ul>
</div>
<div id="profile">
	<%= simple_format get_intro() %> 
</div>
