<% provide(:title,"Work") %>
<div id='displays' ng-app='displayapp' ng-controller='display_controller' ng-init='disp_reading=false;disp_publication=false;disp_cred=false;disp_modify=false;disp_manage=false;'>
	<%= render 'layouts/work_updates' %>
		<div id='work_list'>
			<%= link_to 'Manage Codes', '', {'class'=>'credential','ng-click'=>'show_credential()'} %><br>
			<% show_works() %>
			<% @works.each { |r| %>
			<div class='work_block'>
				<p class='title'><%= r.name %></p>
				<p class='description'><%= r.description %></p>
				<%= link_to 'Codes',r.link %>
			</div>
			<% } %>
		</div>
</div>