<!DOCTYPE html>
<html>
<head>
  <title><%= make_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id='header'>

	</div>
	<div id='mainframe'>
		<div id='navigator'>
			<nav id='interlink'>
				<ul>
					<li><%= link_to 'home', '#'%></li>
					<li><%= link_to 'work', '#'%></li>
					<li><%= link_to 'interest', '#'%></li>
				</ul>
			</nav>
		</div>
		<div id='frame'>
			<%= yield %>
		</div>
	</div>
</body>
</html>
