<!DOCTYPE html>
<html>
<head>
  <title id='title'><%= make_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<center>
	<div id='page'>
		<div id='header'>
			<%= render 'layouts/header' %>
		</div>
		<div id='mainframe'>
			<div id='navigator'>
				<%= render 'layouts/main_navigator' %>
			</div>
			<div id='frame'>
				<canvas width="1920" height="1080" id='load_cover'>
				</canvas>
				<%= yield %>
			</div>
		</div>
	</div>
	</center>
</body>
</html>
