<!DOCTYPE html>
<html>
<head>
  <title><%= make_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<center>
	<div id='page'>
		<div id='header'>
			<%= render 'layouts/header' %>
		</div>
		<div id='mainframe'>
			<div id='navigator'>
				<%= render 'layouts/main_navigator' %>
			</div>
			<div id='frame'>
				<canvas id='load_cover'>
				</canvas>
				<%= yield %>
			</div>
		</div>
	</div>
	</center>
</body>
</html>
